* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
}

.menu {
  background-color: #5f7782;
  height: 80px;
  padding: 50px 0;
}

.menu-items{
  color: #EDEAE7;
  display: flex;
}

.button:link,
.button:visited {
  display: block;
  text-decoration: none;

  color: #EDEAE7;
  background-color: #647782;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid;
  border-radius: 2px;

  width: 200px;
  margin: 20px;
}

.button:hover,
.button:visited:hover {
  background-color: #ADB7BD;
}

.header {
  background-color: #d8b26e;
  height: 500px;
  padding: 30px 0;
}

.header:hover {
  background-color: #e2cc9f;
}

.content {
  background-color: #dad5d2;
  height: 500px;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}

h1 {
  color: #EDEAE7;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #dad5d2;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }

  .header {
    height: 400px;
  }

  .content{
    order: 1;
  }
}
